* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box ;
}

:root {
--bran-color:#EF5F4C;
--shape-transparency:hsla(0, 0%, 100%, 0.562);
--skeleton-color:#D9D9D9;
--surface-color:#F5F5F5;            
--background-color:#FFFFFF;
--text-color-primary:#313131;
--text-color-secondary:#6C6C6C;
--font-familly: "Poppins", sans-serif;
--text-lg:bold 32px/125% var(--font-familly);
--text:16px/150% var(--font-familly);
--text-md:14px/175% var(--font-familly);
--text-sm:12px/175% var(--font-familly);
}

body {
font:var(--text);
 color:var(--text-color-secondary);
  background-color: var(--background-color)
  
}

a {
  text-decoration: none;
  color:inherit;
}

a:hover{
  color:var(--bran-color);
  text-decoration: underline;
}

.container{ 
  padding-inline: 32px;
  max-width:1280px;
  margin-inline:auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}